/* navigation */
.navbar {
  background-color: black;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.navbar-brand > img {
  height: 4rem;
}

.navbar-nav li {
  padding-right: 0.4rem;
}

.navbar .navbar-nav .nav-link {
  padding-top: 0.4rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: cadetblue;
}

.nav-bk {
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
}

/* landing */
.home-inner {
  background-image: url(img/mainTheme.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.caption {
  width: 100%;
  color: black;
  position: absolute;
  top: 30%;
  z-index: 1;
}

/* course */
#course {
  background-color: lightgray;
}

/* features */
.jumbotron {
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.line {
  margin-bottom: 0;
}

.features-list {
  list-style: none;
}

.client {
  width: 90%;
  border-radius: 20%;
  min-width: 15vw;
}

.blockquote {
  width: 90%;
}

/* contact */
footer,
footer a {
  color: darkgray;
}

footer a:hover {
  color: black;
}

footer img {
  height: 10rem;
  margin: 0.6rem;
}

/* own media rules */
@media all and (min-width: 768px) and (max-width: 992px) {
  .client {
    width: 50%;
  }
}

@media all and (max-width: 576px) {
  .client {
    width: 50%;
  }
}

/*============= SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
